<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Samantha Chin</h1>
    <p>I must admit, a few years ago I saw myself pursuing a degree in medicine and not technology much less dedicating my life to it, but as technology dominates grows in pervasiveness and commoditization, it is hard and almost impossible to even imagine a future without ICT. It was not until Digital Media was introduced as a CAPE subject at my high school and with little knowledge about this subject, I grew curious and fearlessly ventured in the first year to sit said exams. While exploring the subject, a greater appreciation for technology, where it is today and how it has grown tremendously. Through this appreciation, a passion for design and creation of digital content and how it works was developed, which is my primary reason for choosing this ICT. With choosing this career path, where ICT has a growing job market and skills are sought-after, I am willing to explore different positions bravely.</p>  
</body>
</html>